<div class="client-order-page">
    {{> userAccount}}
    <h2 class="order-list-heading">Đơn hàng của tôi</h2>
    <img class="empty-order-list" src="/assets/empty-order-list.png" alt="empty list">
    <p class="empty-order-content">Hiện bạn chưa có đơn hàng nào!</p>
</div>
{{>footer}}