<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Thông tin cửa hàng</h4>
  	 			<ul>
  	 				<li><a href="#">Giới Thiệu</a></li>
  	 				<li><a href="#">Quy Chế Hoạt Động</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Hỗ trợ</h4>
  	 			<ul>
  	 				<li><a href="#">Tư Vấn</a></li>
  	 				<li><a href="#">Lỗi Kỹ Thuật</a></li>
  	 				<li><a href="#">Giao Hàng</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Liên Hệ</h4>
  	 			<ul>
  	 				<li><a href="tel:0123456789">Hotline:<br>0123456789</a></li>
                    <li><a href="mailto:laptopshop@gmail.com">Email:<br>laptopshop@gmail.com</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Theo dõi</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 			</div>
  	 		</div>
  	    </div>
  	</div>
</footer>